<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Lets Play!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <style>
        h4 {
            background-color: #f7f7f9;
            padding: 10px;
        }
    </style>
</head>
<body style="margin-top:50px;">
    {% include 'pieces/header.html.twig'%}

    <div class="container">
        <div class="row">
            {% include 'pieces/workflows.html.twig'%}
            <div class="col-sm-6">
                <div class="row">
                    {% include 'pieces/store.html.twig' %}
                </div>
                <div class="row">
                    {% include 'pieces/state_machine.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>