<div class="col-sm-12">
    <h4>Me vs Enemy (State Machine)</h4>
    <div class="row">
        <div class="col-sm-12">
            <form method="post" action="{{ path('player_vs_enemy') }}" class="pull-left">
                <input type="hidden" name="times" value="1">
                <button type="submit" class="btn btn-default">1 Turn</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if player_character.fightingWith is not null %}
                        <li>
                            <p class="navbar-text">{{ player_character.fightingWith.name }}{{ ' - ' }}{{ player_character.fightingWith.mapZone.name }}</p>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <p class="navbar-text">{{ player_character.fightingWith.health }}</p>
                            <a class="navbar-brand" href="#">
                                <img width="22px" src="{{ asset('images/health.png') }}">
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <p class="navbar-text">{{ player_character.fightingWith.attack }}</p>
                            <a class="navbar-brand" href="#">
                                <img width="22px" src="{{ asset('images/attack_attr.png') }}">
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <p class="navbar-text">{{ player_character.fightingWith.defense }}</p>
                            <a class="navbar-brand" href="#">
                                <img width="22px" src="{{ asset('images/defense_attr.jpeg') }}">
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <img width="100%" src="{{ asset('images/' ~ player_character.state ~'.png') }}">
        </div>
    </div>

    <h4>Console</h4>
    <div class="row">
        <div class="col-sm-12">
            <ul>
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <li>{{ flashMessage }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>