<div class="col-sm-6">
    <h4>Trainer</h4>
    <div class="row">
        <div class="col-sm-6">
            <a href="#">
                <img width="44px" src="{{ asset('images/weaponsmith.png') }}">
            </a>
            20 <img width="22px" src="{{ asset('images/gold.png') }}">
        </div>
        <div class="col-sm-6">
            <a href="#">
                <img width="44px" src="{{ asset('images/armorsmith.png') }}">
            </a>
            60 <img width="22px" src="{{ asset('images/gold.png') }}">
        </div>
    </div>
</div>

<div class="col-sm-6">
    <h4>Materials</h4>
    <div class="row">
        <div class="col-sm-6">
            <a href="#">
                <img width="44px" src="{{ asset('images/leather.png') }}">
            </a>
            20 <img width="22px" src="{{ asset('images/gold.png') }}">
        </div>
    </div>
</div>